[Unit]
Description=Lightning service
After=network.target

[Service]
ExecStart=/opt/lightning/bin/lightning -data=/opt/lightning/post -logs=/opt/lightning/logs -bind=127.0.0.1:8080
WorkingDirectory=/opt/lightning
StandardOutput=null
KillMode=process
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
