{{define "search"}}
<!DOCTYPE html>
<html>
    {{template "head" .}}
    <body>
        {{template "header" .}}
        <div class="main">
            <div class="index">
                <form class="search-form" action="/search.html" method="GET">
                    <div class="search-wrapper">
                        <input class="search-input" type="search" name="q" placeholder="请输入关键字..." required value="{{.query}}"/>
                    </div>
                    <input class="search-submit" type="submit" value="搜索">
                </form>
                <h1 class="search-title">搜索结果</h1>
                {{template "articles" .}}
                {{template "footer" .}}
            </div>
        </div>
        {{template "script" .}}
    </body>
</html>
{{end}}
